//TESTO
// ---Testo Colori
$light-text: #ffffff;
$medium-text: #7d7d7d;
//---Testo Dimensioni
$smallest-text: 10px;
$smaller-text: 12px;
$small-text: 14px;
$normal-text: 16px;
$big-text: 18px;
$bigger-text: 20px;
$biggest-text: 22px;

//Chiari Scuri
$lightest: #ffffff;
$lighter: #ececec;
$light: #d6d6d6;
$dark: #7d7d7d;
$darker: #2e3a46;
$darkest: #1e2d3b;

//Colori

//Margin e Padding
$smallest-space: 3px;
$smaller-space: 6px;
$small-space: 10px;
$medium-space: 15px;
$big-space: 20px;
$bigger-space: 25px;
$biggest-space: 30px;

//Proprieta