//TESTO
// ---Testo Colori
$light-text: #ffffff;
$medium-text: #7d7d7d;
//---Testo Dimensioni
$smallest-text: 10px;
$smaller-text: 12px;
$small-text: 14px;
$normal-text: 16px;
$big-text: 18px;
$bigger-text: 20px;
$biggest-text: 22px;

//Chiari Scuri
$lightest: #ffffff;
$lighter: #ececec;
$light: #d6d6d6;
$dark: #434343;
$darker: #1b1b1b;
$darkest: #000000;

//Colori
$lightblue: #378ce0;
$yellow: rgb(223, 163, 0);
$red: #db1a27;
$grey: rgb(151, 151, 151);

//Margin e Padding
$smallest-space: 3px;
$smaller-space: 6px;
$small-space: 10px;
$medium-space: 15px;
$big-space: 20px;
$bigger-space: 25px;
$biggest-space: 30px;

//Proprieta


//Bandiere
$flag-ita: '&#x1f1ee;&#x1f1f9;';
$flag-jap: '&#x1f1ef;&#x1f1f5;';
$flag-eng: '&#x1f1fa;&#x1f1f8;';
